/*
 * Filename: /home/luma/Documents/Project_Perso/lum-lang/.gitignore
 * Path: /home/luma/Documents/Project_Perso/lum-lang
 * Created Date: Monday, June 3rd 2024, 12:10:56 am
 * Author: Jean-Baptiste Brousse
 * 
 * Copyright (c) 2024 Your Company
 */
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build files

build/

# EBNF visualisation

node_modules/
